<%- include('partials/header') -%> 
<h1>Compose</h1>
<form action="/compose" method="post">
    <!-- <input type="text" name="content">
    <button type="submit" >Publish</button> -->
    <label for="text">Title</label>
    <br>
    <input type="text" class="form-control" name="title">
    <br>
    <label for="post">Post</label>
    <br>
    <textarea name="content" class="form-control" cols="150" rows="20"></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Publish</button>
</form>
<%- include('partials/footer') -%> 